aside
    article
        h2 Trier par Expertises
        ul
            li Lorem ipsum dolor sit amet
            li consectetur adipisicing elit
            li Pariatur cupiditate aliquid enim
            li Soluta alias animi porro quas tempora
            li Fuga unde maxime explicabo illum mollitia
    hr

    article.bg-grey
        .lead Webzine
        h4 DGEFCDHS
        p.text-muted Expedita
        p.text-muted Similique cum aliquam in, sapiente nesciunt. Quia fugiat, excepturi esse itaque quaerat corrupti omnis, nihil repudiandae sit facere, repellendus delectus dignissimos?

    hr(style="border: none;")

    article.bg-grey
        .lead Webzine
        h4 DGEFCDHS
        img.img-responsive(src="http://placehold.it/400x200")
        p.text-muted Expedita
        p.text-muted Similique cum aliquam in, sapiente nesciunt. Quia fugiat, excepturi esse itaque quaerat corrupti omnis, nihil repudiandae sit facere, repellendus delectus dignissimos?


    hr(style="border: none;")

    article.bg-grey
        .lead Webzine
        h4 DGEFCDHS
        p.text-muted Expedita

