article
    h4.small-dark-title A la une
    .lead Suterw
        span.text-muted | pelsnf le 11/14/14
    h2 Lorem Ipsum Dolor
    p.text-muted Physical vehicle Tokyo nodal point disposable spook boy order-flow wristwatch 3D-printed. Systema sign bridge vehicle stimulate cyber-numinous dolphin dissident into hacker bomb Shibuya rifle sunglasses cartel denim. Rebar A.I. 3D-printed cyber-order-flow drone digital. Numinous concrete sprawl military-grade tanto network dome spook tattoo Chiba tube 8-bit disposable tower film physical. Network film rain-space numinous man assassin silent. Fetishism jeans nano-franchise sunglasses katana boy assassin face forwards. Tokyo otaku uplink cartel bicycle sensory vehicle. Camera stimulate Shibuya sign towards pen decay skyscraper sunglasses industrial grade dome shrine singularity papier-mache monofilament.
    +tagblock()
hr

article
    .row
        .col-sm-4
            .small-dark-title A la une
        .col-sm-8
            a(href="")   Questions du mois
            span.text-muted  | peile 14/14/14
    h2 Shoes concrete city tube order-flow range-rover faded
    p.text-muted Physical vehicle Tokyo nodal point disposable spook boy order-flow wristwatch 3D-printed. Systema sign bridge vehicle stimulate cyber-numinous dolphin dissident into hacker bomb Shibuya rifle sunglasses cartel denim. Rebar A.I. 3D-printed cyber-order-flow drone digital. Numinous concrete sprawl military-grade tanto network dome spook tattoo Chiba tube 8-bit disposable tower film physical. Network film rain-space numinous man assassin silent. Fetishism jeans nano-franchise sunglasses katana boy assassin face forwards. Tokyo otaku uplink cartel bicycle sensory vehicle. Camera stimulate Shibuya sign towards pen decay skyscraper sunglasses industrial grade dome shrine singularity papier-mache monofilament.
    +tagblock()

hr

article
    strong Suteres
    span.text-muted  | publie le 14/13/15

h2 Garage tiger-team Chiba urba

p: img.img-responsive(src="http://placehold.it/560x250")
p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eius reiciendis, mollitia doloribus officiis earum illum voluptatem ducimus pariatur ratione dolore impedit, error repellat, nesciunt? Cupiditate, expedita, reiciendis. Perspiciatis, libero?
+tagblock()

hr

article
    strong Suteris
    span.text-muted  | publie le 14/13/15

h2  Orem ipsum dolor sit amet

p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eius reiciendis, mollitia doloribus officiis earum illum voluptatem ducimus pariatur ratione dolore impedit, error repellat, nesciunt? Cupiditate, expedita, reiciendis. Perspiciatis, libero?
+tagblock()
