mixin tagblock()
    .row.text-muted
        .col-sm-4
            .glyphicon.glyphicon-envelope
                |  3 days ago
        .col-sm-8
            .glyphicon.glyphicon-tags
            strong  Tags:
                a(href="")  lorem
                | ,
                a(href="")  lorem
                | ,
                a(href="")  lorem

mixin mediaobject(title)
    .media
        .media-left
            a(href="#")
                img.img-circle.media-object(src="http://placehold.it/60x60" alt="...")
        .media-body
            h4.media-heading #{title}
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam delectus nostrum, minima perspiciatis quae ducimus? Eos, atque. Dicta, deserunt sapiente corporis illum maxime esse, ducimus aspernatur consequatur unde, vitae sunt!

mixin footerunit()
    .col-sm-2
        h4 Hey there buddy
        ul
            li cmHfmhfDMlfh
            li sflkhfsflhsflh
            li lkhdsflhlhf
            li qqlhql
            li flhfllfmh
            li qkLdlg
